.ps-r{
	position:relative;
}
.ps-a{
	position:absolute;
}
.pointer{
	cursor:pointer;
}
.f12{
	font-size:12px;
}
.f24{
	font-size:24px;
}
.text-center{
	text-align:center;
}
.text-right{
	text-align:right;
}
.text-hide{
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: keep-all;
}
.hide{
	display:none;
}
.show{
	display:block;
}
.animation{
	transition: all 0.8s ease 0.5s;
	-webkit-transition: all 0.8s ease 0.5s;
	-moz-transition: all 0.8s ease 0.5s;
}
.oc-hide{
	opacity:0;
}
.oc-show{
	opacity:1;
}
.cfff{
	color:#fff;
}
.auto{
	margin:0 auto;
}
.fixed{
	content: "";
    display: table;
    zoom:1;
}
.fl{
	float:left;
}
.fr{
	float:right;
}












