.ps-r {
  position: relative;
}
.ps-a {
  position: absolute;
}
.pointer {
  cursor: pointer;
}
.f12 {
  font-size: 12px;
}
.f24 {
  font-size: 24px;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.show {
  display: block;
}
.animation {
  transition: all 0.8s ease 0.5s;
  -webkit-transition: all 0.8s ease 0.5s;
  -moz-transition: all 0.8s ease 0.5s;
}
.oc-hide {
  opacity: 0;
}
.oc-show {
  opacity: 1;
}
.cfff {
  color: #fff;
}
* {
  margin: 0;
  padding: 0;
}
#layout {
  width: 100%;
  min-width: 320px;
}
body input[type=text] {
  padding: 5px 10px;
  border: 1px solid rgba(0, 0, 0, 0.7);
}
.public-index .banner-tab {
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 7;
  background: rgba(0, 0, 0, 0.1);
  width: 100%;
}
.public-index .banner-tab h3 {
  text-align: center;
  color: #fff;
  padding-top: 150px;
  font-size: 24px;
}
@media (min-width: 601px) and (max-width: 800px) {
  .public-index .banner {
    height: 300px;
  }
  .public-index .banner h3 {
    padding-top: 30px;
  }
}
@media (max-width: 600px) {
  .public-index .banner {
    height: 200px;
  }
  .public-index .banner h3 {
    padding-top: 20px;
    font-size: 12px;
  }
}
.banner {
  height: 600px;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.8);
  position: relative;
}
.banner .slider-img {
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  z-index: 3;
  left: 0;
  top: 0;
  transition: all 0.8s ease 0.5s;
}
.banner .slider-img.remove-active {
  opacity: 0;
  z-index: 9;
  transform: scaleX(1.2);
}
.banner .slider-img.add-active {
  opacity: 1;
}
.banner .scroll-button {
  display: block;
  z-index: 20;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  border: 1px solid #fff;
  position: absolute;
  right: 20px;
  bottom: 20px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  font-size: 12px;
  line-height: 30px;
}
.banner .scroll-button.scroll-prev {
  right: 60px;
}
.banner .slider-text {
  display: block;
  text-align: right;
  z-index: 10;
  font-size: 12px;
  color: #fff;
  position: absolute;
  bottom: 20px;
  right: 100px;
  height: 30px;
  line-height: 30px;
  width: 100px;
  transition: all 0.8s ease 0.5s;
  -webkit-transition: all 0.8s ease 0.5s;
  -moz-transition: all 0.8s ease 0.5s;
}
.banner .slider-text.add-active {
  opacity: 1;
}
.banner .slider-text.remove-active {
  opacity: 0;
}
