* {
  margin: 0;
  padding: 0;
}
#layout {
  width: 100%;
  min-width: 320px;
}
body input[type=text] {
  padding: 5px 10px;
  border: 1px solid rgba(0, 0, 0, 0.7);
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
input {
  outline: none;
}
@font-face {
  font-family: 'iconfont';
  src: url('//at.alicdn.com/t/font_1450256878_5203059.eot');
  /* IE9*/
  src: url('//at.alicdn.com/t/font_1450256878_5203059.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('//at.alicdn.com/t/font_1450256878_5203059.woff') format('woff'), /* chrome、firefox */ url('//at.alicdn.com/t/font_1450256878_5203059.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('//at.alicdn.com/t/font_1450256878_5203059.svg#iconfont') format('svg');
  /* iOS 4.1- */
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.ps-r {
  position: relative;
}
.ps-a {
  position: absolute;
}
.ps-f {
  position: fixed;
}
.pointer {
  cursor: pointer;
}
.f12 {
  font-size: 12px;
}
.f16 {
  font-size: 16px;
}
.f14 {
  font-size: 14px;
}
.f24 {
  font-size: 24px;
}
.f36 {
  font-size: 36px;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-hide {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: keep-all;
}
.hide {
  display: none;
}
.inline {
  display: inline-block;
}
.show {
  display: block;
}
.animation {
  transition: all 0.8s ease 0.5s;
  -webkit-transition: all 0.8s ease 0.5s;
  -moz-transition: all 0.8s ease 0.5s;
}
.oc-hide {
  opacity: 0;
}
.oc-show {
  opacity: 1;
}
.cfff {
  color: #fff;
}
.c444 {
  color: #444;
  font-family: '微软雅黑';
}
.c-red {
  color: red;
}
.auto {
  margin: 0 auto;
}
.fixed {
  content: "";
  display: table;
  zoom: 1;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
h2,
h3,
h4,
h5 {
  padding: 15px 0;
}
.lh20 {
  height: 20px;
  line-height: 20px;
}
.lh30 {
  height: 30px;
  line-height: 30px;
}
.lh40 {
  height: 40px;
  line-height: 40px;
}
.lh50 {
  height: 50px;
  line-height: 50px;
}
.lh80 {
  height: 80px;
  line-height: 80px;
}
.border-box {
  box-sizing: border-box;
}
.fw-b {
  font-weight: bold;
}
.fw-l {
  font-weight: lighter;
}
.img {
  display: block;
  width: 100%;
  border: 0;
}
.remember-password:after {
  content: "\e600";
  color: #1ecd64;
}
.weibo:before {
  content: "\e601";
}
.wechat:before {
  content: "\e602";
}
.qq:before {
  content: "\e603";
}
.icon-qq:before {
  content: "\e604";
}
.icon-wechat:before {
  content: "\e605";
}
.icon-firefox:before {
  content: "\e606";
}
.icon-envelopeo:before {
  content: "\e607";
}
.icon-tip:before {
  content: "\e608";
}
.icon-search:before {
  content: "\e609";
}
.page-header {
  width: 100%;
  background: rgba(0, 0, 0, 0.82);
  height: 80px;
  line-height: 80px;
}
.page-header .page-header-content {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  content: "";
  display: table;
  zoom: 1;
  color: #fff;
}
.page-header .page-header-content > a {
  font-size: 24px;
  color: #fff;
  height: 30px;
  line-height: 30px;
  margin-top: 15px;
  padding: 10px;
  float: left;
  display: inline-block;
}
.page-header .page-header-content .page-header-nav {
  width: 100%;
  max-width: 800px;
  float: right;
  content: "";
  display: table;
  zoom: 1;
}
.page-header .page-header-content .page-header-nav > div {
  float: right;
  display: inline-block;
}
.page-header .page-header-content .page-header-nav > div.header-nav li {
  float: left;
  width: 100px;
  text-align: center;
  position: relative;
}
.page-header .page-header-content .page-header-nav > div.header-nav li > a,
.page-header .page-header-content .page-header-nav > div.header-nav li > span {
  color: rgba(255, 255, 255, 0.6);
  display: block;
}
.page-header .page-header-content .page-header-nav > div.header-nav li > a .page-menu-icon,
.page-header .page-header-content .page-header-nav > div.header-nav li > span .page-menu-icon {
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-top: 3px solid #ffffff;
  margin-left: 5px;
}
.page-header .page-header-content .page-header-nav > div.header-nav li > a > span.iconfont,
.page-header .page-header-content .page-header-nav > div.header-nav li > span > span.iconfont {
  position: absolute;
  top: 10px;
  right: 10px;
  height: 40px;
  line-height: 40px;
  font-size: 12px;
}
.page-header .page-header-content .page-header-nav > div.header-nav li > a > span.iconfont:before,
.page-header .page-header-content .page-header-nav > div.header-nav li > span > span.iconfont:before {
  color: red;
  font-size: 16px;
}
.page-header .page-header-content .page-header-nav > div.header-nav li .nav-menu-list {
  position: absolute;
  left: 0;
  top: 80px;
  transition: all 0.8s ease 0.5s;
  -webkit-transition: all 0.8s ease 0.5s;
  -moz-transition: all 0.8s ease 0.5s;
  height: 30px;
  line-height: 30px;
  height: 0;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.6);
  padding: 0 15px;
}
.page-header .page-header-content .page-header-nav > div.header-nav li .nav-menu-list.active {
  height: auto;
}
.page-header .page-header-content .page-header-nav > div.header-nav li .nav-menu-list a {
  display: block;
  color: #fff;
}
.page-header .page-header-content .page-header-nav > div.nav-search {
  width: 200px;
  position: relative;
}
.page-header .page-header-content .page-header-nav > div.nav-search span.iconfont {
  left: 22px;
  top: 30px;
  height: 20px;
  line-height: 20px;
  width: 20px;
  text-align: center;
  color: #fff;
}
.page-header .page-header-content .page-header-nav > div.nav-search input[type=search] {
  padding: 5px 10px;
  border: 0;
  border: 1px solid rgba(255, 255, 255, 0.6);
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  height: 30px;
  line-height: 30px;
  border-radius: 15px;
  margin-left: 15px;
  width: 100%;
  box-sizing: border-box;
  padding-left: 30px;
}
.page-header .page-header-content .page-header-nav > div.nav-search .search-hot-div {
  position: absolute;
  top: 80px;
  left: 15px;
  opacity: 0;
  transition: all 0.8s ease 0.5s;
  -webkit-transition: all 0.8s ease 0.5s;
  -moz-transition: all 0.8s ease 0.5s;
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
}
.page-header .page-header-content .page-header-nav > div.nav-search .search-hot-div.active {
  opacity: 1;
}
.page-header .page-header-content .page-header-nav > div.nav-search .search-hot-div a {
  height: 30px;
  line-height: 30px;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: keep-all;
  color: #fff;
  padding: 5px 10px;
}
.tab-container {
  max-width: 400px;
  min-width: 300px;
  min-height: 200px;
  margin: 0 auto;
  margin-top: 30px;
}
.tab-container .tab-bar {
  content: "";
  display: table;
  zoom: 1;
  height: 50px;
  line-height: 50px;
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
}
.tab-container .tab-bar .tab-item {
  text-align: center;
  width: 33.33333%;
  float: left;
  cursor: pointer;
  position: relative;
  color: rgba(255, 255, 255, 0.6);
}
.tab-container .tab-bar .tab-item.selected,
.tab-container .tab-bar .tab-item.selected:hover {
  background: #fff;
  color: #000;
}
.tab-container .tab-bar .tab-item:hover {
  color: #fff;
}
.tab-container .tab-bar .tab-item .tab-menu {
  display: none;
  position: absolute;
  left: 0;
  top: 30px;
}
.tab-container .tab-bar .tab-item.hover .tab-menu {
  display: block;
}
.tab-container .tab-bar .tab-item span {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: keep-all;
}
.tab-container .tab-content {
  background: #fff;
  padding: 30px 50px;
}
.tab-container .tab-content .tab-content-item {
  display: none;
}
.tab-container .tab-content .tab-content-item.selected {
  display: block;
}
.tab-container .tab-content .tab-content-item > span,
.tab-container .tab-content .tab-content-item > form > span {
  color: red;
  padding: 10px 0;
}
.tab-container .tab-content .tab-content-item div {
  margin-bottom: 15px;
}
.tab-container .tab-content .tab-content-item div input {
  width: 100%;
  box-sizing: border-box;
  border: 0;
  border: 1px solid #bbb;
  padding: 5px 20px;
  height: 30px;
  line-height: 30px;
}
.tab-container .tab-content .tab-content-item div input[type=button],
.tab-container .tab-content .tab-content-item div input[type=submit] {
  border: 0;
  background: #1ecd64;
  width: 100%;
  height: 30px;
  line-height: 30px;
  color: #fff;
  cursor: pointer;
  padding: 0;
}
.tab-container .tab-content .tab-content-item p {
  width: 100%;
  content: "";
  display: table;
  zoom: 1;
}
.tab-container .tab-content .tab-content-item p label {
  content: "";
  display: table;
  zoom: 1;
  font-size: 14px;
  height: 20px;
  line-height: 20px;
  float: left;
  cursor: pointer;
}
.tab-container .tab-content .tab-content-item p label span {
  float: right;
  display: inline-block;
  height: 20px;
  line-height: 20px;
  text-align: center;
}
.tab-container .tab-content .tab-content-item p label span.password-checkbox {
  float: left;
  width: 20px;
  border: 1px solid rgba(0, 0, 0, 0.8);
  box-sizing: border-box;
  margin-right: 5px;
}
.tab-container .tab-content .tab-content-item p a {
  float: right;
  font-size: 14px;
}
@media (min-width: 601px) and (max-width: 800px) {
  .tab-container {
    margin-top: 10px;
  }
  .tab-container .tab-bar {
    height: 30px;
    line-height: 30px;
  }
  .tab-container .tab-content {
    padding: 15px 20px;
  }
  .tab-container .tab-content .tab-content-item div {
    margin-bottom: 8px;
  }
}
@media (max-width: 600px) {
  .tab-container {
    margin-top: 10px;
  }
  .tab-container .tab-bar {
    height: 30px;
    line-height: 30px;
  }
  .tab-container .tab-content {
    padding: 15px 20px;
  }
  .tab-container .tab-content .tab-content-item div {
    margin-bottom: 8px;
  }
}
.public-index {
  padding-bottom: 10px;
}
.public-index .banner-tab {
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 18;
  background: rgba(0, 0, 0, 0.1);
  width: 100%;
}
.public-index .banner-tab h3 {
  text-align: center;
  color: #fff;
  padding-top: 150px;
  font-size: 24px;
}
.public-index .public-content .content-list {
  color: #444;
  font-family: '微软雅黑';
  padding: 20px 10px;
  text-align: center;
}
.public-index .public-content .content-list h3 {
  font-size: 36px;
  font-weight: lighter;
  max-width: 900px;
  margin: 0 auto;
}
.public-index .public-content .content-list h5 {
  font-weight: lighter;
  max-width: 900px;
  margin: 0 auto;
}
.public-index .public-content .content-list.width-1000 {
  width: 1000px;
  margin: 0 auto;
}
.public-index .public-content .content-list .content-auto img {
  display: block;
  width: 100%;
  border: 0;
}
.public-index .public-content .fixed {
  width: 100%;
}
.public-index .public-content .fixed span {
  display: block;
  float: left;
  height: 40px;
  line-height: 40px;
  width: 22%;
  position: relative;
  margin-left: 2%;
}
.public-index .public-content .fixed span i {
  color: #fff;
  width: 50px;
  left: 0;
  top: 0;
  font-size: 24px;
  display: block;
  height: 40px;
  line-height: 40px;
  z-index: 2;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
}
.public-index .public-content .fixed span:first-child {
  margin-left: 0;
}
.public-index .public-content .fixed span a {
  width: 100%;
  height: 30px;
  line-height: 30px;
  color: #fff;
  z-index: 9;
  display: block;
  height: 40px;
  line-height: 40px;
  position: absolute;
}
.public-index .public-content .auto-show-footer {
  position: fixed;
  left: 0;
  bottom: -100px;
  width: 100%;
  padding: 25px 0;
  border-top: 1px solid #eee;
  box-shadow: 19px -2px 80px #bbb;
  background: rgba(255, 255, 255, 0.95);
  opacity: 0;
  z-index: 10;
  transition: all 0.8s ease 0.5s;
  -webkit-transition: all 0.8s ease 0.5s;
  -moz-transition: all 0.8s ease 0.5s;
}
.public-index .public-content .auto-show-footer.on {
  bottom: 0;
  opacity: 1;
}
.public-index .public-content .auto-show-footer > div {
  width: 1000px;
  margin: 0 auto;
}
.public-index .public-content .auto-show-footer > div > span {
  float: left;
  width: 20%;
  height: 40px;
  line-height: 40px;
}
.public-index .public-content .auto-show-footer > div .fixed {
  float: right;
  width: 80%;
  text-align: center;
}
.public-index .public-content .auto-show-footer > div .fixed span i {
  width: 40px;
}
.public-index .reg-succ-box {
  transition: all 0.8s ease 0.5s;
  -webkit-transition: all 0.8s ease 0.5s;
  -moz-transition: all 0.8s ease 0.5s;
  width: 0;
  height: 0;
  opacity: 0;
  z-index: 30;
  color: #fff;
  position: fixed;
  left: 0;
  top: 0;
  text-align: center;
  background: rgba(0, 0, 0, 0.85);
}
.public-index .reg-succ-box.active {
  width: 100%;
  height: 100%;
  opacity: 1;
}
.public-index .reg-succ-box p {
  height: 40px;
  line-height: 40px;
  position: relative;
  top: 50%;
  margin-top: -20px;
}
@media (min-width: 601px) and (max-width: 800px) {
  .public-index .banner {
    height: 300px;
  }
  .public-index .banner h3 {
    padding-top: 30px;
  }
}
@media (max-width: 600px) {
  .public-index .banner {
    height: 200px;
  }
  .public-index .banner h3 {
    padding-top: 20px;
    font-size: 12px;
  }
}
.banner {
  height: 700px;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.8);
  position: relative;
}
.banner .slider-img {
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  z-index: 3;
  left: 0;
  top: 0;
  transition: all 0.8s ease 0.5s;
}
.banner .slider-img.remove-active {
  opacity: 0;
  z-index: 9;
  transform: scaleX(1.2);
}
.banner .slider-img.add-active {
  opacity: 1;
}
.banner .scroll-button {
  display: block;
  z-index: 20;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  border: 1px solid #fff;
  position: absolute;
  right: 20px;
  bottom: 20px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  font-size: 12px;
  line-height: 30px;
}
.banner .scroll-button.scroll-prev {
  right: 60px;
}
.banner .slider-text {
  display: block;
  text-align: right;
  z-index: 10;
  font-size: 12px;
  color: #fff;
  position: absolute;
  bottom: 20px;
  right: 100px;
  height: 30px;
  line-height: 30px;
  width: 100px;
  transition: all 0.8s ease 0.5s;
  -webkit-transition: all 0.8s ease 0.5s;
  -moz-transition: all 0.8s ease 0.5s;
}
.banner .slider-text.add-active {
  opacity: 1;
}
.banner .slider-text.remove-active {
  opacity: 0;
}
